{% extends "_base.html" %}

{% block title %}Distância Dispositivo{% endblock title %}

{% block content %}
<h2>Distância Dispositivo</h2><p><a href="{% url 'shelter_device_new' %}">Cadastrar</a></p><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Distância</th>
      <th scope="col">Abrigo</th>
      <th scope="col">Dispositivo</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
{% for shelterdevice in shelterdevice_list %}

    <tr>
        <th scope="row">{{ shelterdevice.id }}</th>
        <td>{{ shelterdevice.distância }} Km</td>
        <td>{{ shelterdevice.abrigo }}</td>
        <td>{{ shelterdevice.dispositivo }}</td>
        <td><a href="{% url 'shelter_device_edit' shelterdevice.pk %}">Editar</a> | <a href="{% url 'shelter_device_delete' shelterdevice.pk %}">Excluir</a></td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock content %}