{% extends "_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Trocar Senha" %}{% endblock %}
{% block content %}
    <h1>{% trans "Trocar Senha" %}</h1>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% trans "Trocar Senha" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Esqueceu a senha?" %}</a>
    </form>
{% endblock %}
